body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}

#matching_game,
#supplementary {
    width: 100%;
    max-width: 720px;
    margin: auto;
    text-shadow: 0 0 1px #fff
}#supplementary{
    background: #f1f1f1;
    margin-top:34px;
}

#main {
    width: 100%
}

#main,
#main .container_wrapper {
    text-align: center
}

#main .container_wrapper {
    background: #fff;
    box-shadow: inset 0 0 1px #bbb;
    margin: auto
}

#validation_notification {
    text-align: center
}

#config_container,
#output_container {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center
}

#config,#output_container{
    padding: .5em 0;
}
#config{
  background:#f1f1f1;color:#555;
}
#output_container{
    background:#fff;
}
#difficulty{
  width:100%;
  background:#fff;

  border:none;    font-size: 16px;
  padding: 0 .25em;  border-radius: .125em;
  /*display:inline-block;
  width:40%;*/
}
#timer{
  display:block;
  border-radius: .125em;
  background:#fff;color:#222;
  padding: 0 .25em;
}
#timer_label{padding: 0 .25em;color:#555;}
#difficulty_label{padding: 0 .25em;color:#555;}
/*#validation_notification {
    background: #ccc
}*/
#game_complete{
  background:#f1f1f1;
  padding:.5em .25em;
  margin: .5em 0;
  color:#555;
}
/*#game_vals {
    margin: 1em 0 0 0;
}*/

#game_vals ul {
    text-align: center;
    padding: 0;
    margin: 0
}#game_vals ul li label{
  letter-spacing:.1em;
}#game_vals ul li {
    display: inline-block;
    width: 31%;
    text-align:center
}#game_vals ul li:first-child{
  text-align:left;
}#game_vals ul li:last-child{
  text-align:left;
}
#game_vals ul li:nth-child(1){
  text-align:left;
}#game_vals ul li:nth-child(2){
  text-align:center;border:1px solif #000
}#game_vals ul li:nth-child(3){
  text-align:right;
}

#supplementary {
    max-width: 720px;
    border-top: .5em groove #ccc
}

.content-inner {
    padding: 20px
}

.cell {
    float: left;
    border-radius: .025em;
    box-shadow: inset 0 0 .05em #000
}.cell:hover {
    opacity: .75;
    box-shadow: none
}

.variant_0 {
    background: maroon;

}.variant_1 {
    background: #473C8B;
    content: "A";
    color:#fff;
}.variant_2 {
    background: #3D9140
}.variant_3 {
    background: #FF0
}.variant_4 {
    background: #EE9A00
}.variant_5 {
    background: #DDA0DD
}.variant_6 {
    background: #008B8B
}.variant_7 {
    background: #EE6363
}.variant_8 {
    background: navy;
    background: #3ff
}.variant_9 {
    background: #8B5A2B
}.variant_10 {
    background: #F0E68C
}.variant_11 {
    background: #CD3700
}.variant_12 {
    background: #00CD66
}.variant_13 {
    background: #4D4D4D
}.variant_14 {
    background: #9B30FF
}.variant_15 {
    background: #FF82AB
}

.variant_empty {
    background: transparent
}

.error{background:#fff;font-weight:300;border-radius:.25em}
.hide {
    display: none
}
